@import "common.scss";
.offboard-tenant{
    .uxp-button{
        margin: 0;
        float: right;
        margin-right: 15px;
    }
}

.offboard-modal {
    .actions{
        margin-top: 15px;
    }
    .uxp-button{
        margin: 0;
        float: right;
    }
}
.tenants {
    position: relative;
    height: 85%;
    width: 100%;
    padding: 0px 0px 0 0px;
    .data-list {
        border: 1px solid #e3e3e3;
    }
    .data-list .data-table thead tr th {
        padding-left: 15px;
        text-align: left;
        background: #e3e3e3;
    }


    .data-list .data-list-item {
        height: 50px;
        &.active {
            background-color: #FAFAFA !important;
        }
    }

    .data-list-footer {
        position: unset;
    }

    .data-table-item {
        margin-left: 7.5px;
    }
}

.add-meter {
    .tenant-name {
        display: flex;
        margin-bottom: 15px;

        .label {
            width: 60px;
            font-weight: 700;
        }
    }
    

    display: flex;

    .row {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .col {
            width: 48%;

            .uxp-form-label {
                font-weight: 500;
            }
        }
    }

    .delete-meter{
        margin-top: 45px;
        
    }

    .error {
        color: red;
        margin: 15px 0;
        padding: 5px;
    }
    .actions {
        margin: 15px 0;
        .uxp-button {
            margin: 0;
            float: right;
        }
    }
}
.tu-meters {
    display:flex;
    font-size:10px;
    color:white;
    flex-wrap: wrap;
    &.energy {
        .tu-meter-id {

            background-color: $energyColor;
        }
        .tu-logo {
            filter:invert(1);
            // background-image: url(../images/energy.svg);
            background-image:$energyIcon;
        }
    }
    &.water {
        .tu-meter-id {

            background-color: $waterColor;
        }


        .tu-logo {
            background-image: $waterIcon;
        }
    }
    
    
    .tu-meter-id {
        padding: 5px 8px;
        display: flex;
        border-radius: 8px;
        align-items: center;
        color: white;
        margin:2px;
        .tu-logo {
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width:20px;
            height:20px;
        }
        .tu-txt {
            margin-left: 5px;
        }
    }
}
.utility-pill {
    padding: 5px 8px;
    display: inline-flex;
    border-radius: 8px;
    align-items: center;
    color: white;
    margin: 2px;


    .up-logo {
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
    }

    .up-txt {
        margin-left: 5px;
    }

    &.energy {
      

            background-color: $energyColor;
   

        .up-logo {
            filter: invert(1);
            // background-image: url(../images/energy.svg);
            background-image: $energyIcon;
        }
    }

    &.water {
      

            background-color: $waterColor;
     


        .up-logo {
            background-image: $waterIcon;
        }
    }
}